name: RedisLock Tests 

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.19.x', '1.20.x', '1.21.x' ]
        redis-version: [6, 7]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Start Redis
        uses: supercharge/redis-github-action@1.8.1
        with:
          redis-version: ${{ matrix.redis-version }}
      - name: Display Go version
        run: go version
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -coverprofile=coverage.out -covermode=atomic -v -race ./...
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
